@media only screen and (max-width:767px) {
	.btn__modal_map {
		position: absolute;
		top: 0;
		right: 5%;
		z-index: 8;
		width: 3rem;
		height: 2.5rem;
		border-style: none;
		background: none;
	}

	.btn__modal_map:hover {
		cursor: pointer;
		color: gray;
		transition: 0.2s;
	}

	.btn__modal_attraction {
		color: white;
		position: absolute;
		top: -7%;
		right: 3%;
		z-index: 8;
		width: 3rem;
		height: 2.5rem;
		border-style: none;
		background: none;
	}

	.btn__modal_attraction:hover {
		cursor: pointer;
		color: gray;
		transition: 0.2s;
	}
}

@media only screen and (min-width:768px) {
	.btn__modal_map {
		color: black;
		position: absolute;
		top: 0;
		right: 10%;
		z-index: 8;
		width: 3rem;
		height: 2.5rem;
		border-style: none;
		background: none;
	}

	.btn__modal_map:hover {
		cursor: pointer;
		color: gray;
		transition: 0.2s;
	}

	.btn__modal_attraction {
		color: white;
		position: absolute;
		top: -6%;
		right: 5%;
		z-index: 8;
		width: 3rem;
		height: 2.5rem;
		border-style: none;
		background: none;
	}

	.btn__modal_attraction:hover {
		cursor: pointer;
		color: gray;
		transition: 0.2s;
	}

}

@media only screen and (min-width:1024px) {
	.btn__modal_map {
		position: absolute;
		top: 0;
		right: 0%;
		z-index: 8;
		width: 3rem;
		height: 2.5rem;
		border-style: none;
		background: none;
	}

	.btn__modal:hover {
		cursor: pointer;
		color: gray;
		transition: 0.2s;
	}

	.btn__modal_attraction {
		color: white;
		position: absolute;
		top: -4%;
		right: 4%;
		z-index: 8;
		width: 3rem;
		height: 2.5rem;
		border-style: none;
		background: none;
	}
}



.modal_wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
}

.modal_wrapper.open {
	height: 100%;
	width: 100%;
	display: block;
	z-index: 9;
}

.modal_wrapper.close {
	display: none;
}

.modal_body {
	width: 100%;
	background-color: white;
	height: 100%;
}

.modal_body h2 {
	padding-left: 60px;
	text-align: left;
	width: 100%;
	margin: 0 auto;
}

.modal_body::-webkit-scrollbar {
	width: 0;
	background: transparent;

}

.modal_close {
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 2rem;
	height: 2rem;
	text-align: right;
	font-size: 30px;
	color: black;
	cursor: pointer;
	z-index: 5;
}

.modal_close:hover {
	font-weight: 800;
	cursor: pointer;
	transition: 0.5s;
	color: gray;
}

.modal_content {
	width: 100%;
	height: 100%;
}

.modal_content_info {
	margin: auto 40px;
	width: 50%;
}

.modal_container_img {
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
}

.modal_container_img:hover {
	transform: none;
}

.modal_img {
	width: 100wh;
	margin: 0 auto;
	height: 100vh;
	max-width: 100%;
	transition: 1s;
}

.swiper-button-next:hover {
	color: gray;
}

.swiper-button-prev:hover {
	color: gray;
}

.map {
	width: 100wh;
	height: 100vh;
}